.alert-box.alert {
  margin-top: 1.25rem; // add space between beardcrumbs
}
////// end top nav bar

.export-button {
  margin-left: 1rem;
}

.inline {
  display: inline;
}

.image-selector {
  margin-top: 2rem;
  div.columns, div.column {
    padding: 0;
  }
}

label.form-item-header {
  font-size: 1.2rem;
  margin-top: 1rem;
}

a.next {
  display: block;
  position: absolute;
  top: 50%;
  left: 494pt;
}

a.previous {
  display: block;
  position: absolute;
  top: 50%;
  left: 10pt;
}

img.paged-png {
  position: relative;
  left:60pt;
}

.main-category-header {
  color: #008CBA;
  font-weight: bold;
}

.breadcrumbs.fixed {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  -moz-box-shadow:    0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 2px 4px rgba(0, 0, 0, 0.28);
  border-bottom: 1px solod rgba(0, 0, 0, 0.14);
  z-index: 50; // higher than content , but lower than nabbar foldout-menu
}

.left-pad {
  padding-left: 2rem;
}

.dropdown.menu > li > a {
  background: #333;
}
