<div class="grid-container">
  <div class="grid-x">
    <div class="cell">
      <h2>Exporting tables</h2>
    </div>
  </div>
  <div class="grid-x">
    <div class="cell">
      To export the table, please select it using the mouse, and use the context menu or
      a keyboard shortcut to copy it to your clipboard.
    </div>
  </div>
  <div class="grid-x">
    <div class="cell">
      <button class="button" ng-click="close()" style="margin-top: 1rem;">Close</button>
    </div>
  </div>
  <button ng-click="close()" class="close-button" aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>