<form novalidate ng-submit="addAnalysis(analysis)" ng-model="problemValidity">
    <div class="row">
        <div class="large-9 columns">
            <h3>Add a new Analysis</h3>
        </div>
    </div>
    <div class="row">
        <div class="large-9 columns">
            <label>Title
                <input autofocus="true" type="text" ng-model="analysis.title">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="large-9 columns">
            <label>Outcome
                <input type="text" ng-model="analysis.outcome">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="large-9 columns">
            <label>Problem file
                <file-reader model="analysis.problem" validity-service-name="'ProblemValidityService'" validity="problemValidity"></file-reader>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="large-9 columns" ng-show="problemValidity && !problemValidity.isValid" >
            <span style="color: red;">The problem is invalid</span>
            <div style="color: red;" ng-repeat="message in problemValidity.messages">
                {{message}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-9 columns">
            <button class="success" type="submit" ng-disabled="isAddButtonDisabled(analysis) || !problemValidity.isValid">Add</button>
        </div>
    </div>
    <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</form>
