<form novalidate ng-submit="createAnalysis(analysis)">
    <div class="row">
        <div class="large-9 columns">
            <h3>Add a new Analysis</h3>
        </div>
    </div>
    <div class="row">
        <div class="large-9 columns">
            <label>Title
                <input autofocus="true" type="text" ng-model="analysis.title">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="large-9 columns">
            <label>Outcome
                <input type="text" ng-model="analysis.outcome">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="large-9 columns">
            <label>Problem
                <textarea rows="8" ng-model="analysis.problem"></textarea>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="large-9 columns">
            <button class="success" type="submit" ng-disabled="!analysis.title || !analysis.outcome || !analysis.problem || isAddingAnalysis">Add</button>
        </div>
    </div>
    <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</form>
