<div ui-view autoscroll="true" class="grid-container">
  <div class="grid-x nav-bar-spacer" style="margin-bottom: 2rem;">
    <div class="cell center">
      <h1 id="analyses-header">Analyses
        <inline-help help-key="analysis"></inline-help>
      </h1>
    </div>
  </div>
  <div class="grid-x" ng-show="!analysesLoaded">
    <div class="cell center">
      <i class="fa fa-spinner fa-spin fa-3x"></i>
      <p>Loading analyses...
      </p>
    </div>
  </div>
  <div class="grid-x" ng-show="analysesLoaded">
    <div class="cell">
      <button id="add-analysis-btn" ng-show="loginUser.userNameHash === userUid" tabindex="0"
        class="button" ng-click="createAnalysisDialog()"><i class="fa fa-plus"></i> Add new analysis</button>
    </div>
    <div class="cell large-6 medium-8">
      <em ng-show="analyses.length === 0">No analyses have been created</em>
      <table ng-show="analyses.length > 0">
        <tr>
          <th class="large-3">Name</th>
          <th class="large-9">Outcome name
            <inline-help help-key="outcome"></inline-help>
          </th>
          <th></th>
        </tr>
        <tr ng-repeat="analysis in analyses">
          <td style="vertical-align: top;">
            <a ui-sref="networkMetaAnalysis({analysisId: analysis.id})">{{analysis.title}}</a></td>
          <td style="white-space: pre-wrap;">{{analysis.outcome.name}}</td>
          <td class="text-center">
            <a ng-click="deleteAnalysis(analysis)" tooltip="Delete analysis" style="color:red">
              <i class="fa fa-trash"></i>
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
