<form id="delete-analysis-form" novalidate ng-submit="deleteAnalysis()">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <h3>Delete analysis: {{ analysis.title }}</h3>
      </div>
      <div class="cell">
        <i class="fa fa-exclamation-triangle"></i>
        <em> Are you certain you want to delete this analysis?</em>
      </div>
      <div class="cell">
        <button id="delete-confirm-button" ng-click="deleteAnalysis()" class="button alert" type="button">
          Delete
        </button>
      </div>
    </div>
  </div>
  <button id="close-modal-button" ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</form>
