<form novalidate ng-submit="editOutcomeName(name.new)">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <h3>Edit outcome name</h3>
      </div>
      <div class="cell">
        <label>Outcome name</label>
      </div>
      <div class="cell large-6">
        <input id="analysis-outcome-input" autofocus="true" type="text" ng-model="name.new">
      </div>
      <div class="cell">
        <button id="confirm-edit-analysis-outcome-button" ng-disabled="name.new === ''" ng-click="editOutcomeName(name.new)" class="button" type="button">
          Edit
        </button>
      </div>
    </div>
  </div>
  <button id="close-modal-button" ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</form>
