<div class="grid-container">
  <div class="grid-x">
    <div class="cell">
      <table class="network-meta-analysis-table">
        <caption>Evidence table (arm-based data)
          <inline-help help-key="evidence-table"></inline-help>
        </caption>
        <thead>
          <tr>
            <th rowspan="2" class="large-3">Study</th>
            <th ng-show="tableRows[0].covariatesColumns.length > 0" colspan="{{tableRows[0].covariatesColumns.length}}">Covariates
            </th>
            <th rowspan="2" class="large-3">Treatment</th>
            <th rowspan="2" ng-show="outcomeType === 'dichotomous' || outcomeType === 'survival'"
              class="large-2">Subjects with outcome</th>
            <th rowspan="2" ng-show="outcomeType === 'continuous' && showMean" class="large-1">&mu;</th>
            <th rowspan="2" ng-show="outcomeType === 'continuous' && showStdDev" class="large-1">&sigma;</th>
            <th rowspan="2" ng-show="outcomeType === 'continuous' && showStdErr" class="large-1">Standard error</th>
            <th rowspan="2" ng-show="outcomeType === 'survival' && showExposure" class="large-1">Exposure time</th>
            <th rowspan="2" class="large-1" ng-show="showSampleSize">N</th>
          </tr>
          <tr>
            <th ng-repeat="covariate in tableRows[0].covariatesColumns">{{covariate.headerTitle}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="treatment in tableRows">
            <td rowspan="{{treatment.studyRowSpan}}" ng-show="{{treatment.showStudyColumn}}"
              style="vertical-align: top;">
              {{treatment.studyTitle}}
              <a ng-click="editStudyTitle(treatment.studyTitle)" tooltip="Edit study title" ng-if="!editmode.disableEditing">
                <i class="fa fa-edit"></i>
              </a>
            </td>
            <td ng-repeat="covariate in treatment.covariatesColumns" rowspan="{{treatment.studyRowSpan}}"
              ng-show="{{treatment.showStudyColumn}}" style="vertical-align:top" class="text-center">
              {{covariate.data}}
            </td>
            <td>
              {{treatment.treatmentTitle}}
            </td>
            <td class="text-center" ng-show="outcomeType === 'dichotomous' || outcomeType === 'survival'">
              {{treatment.evidence.responders}}
            </td>
            <td class="text-center" ng-show="outcomeType === 'continuous'  && showMean">
              {{treatment.evidence.mean}}
            </td>
            <td class="text-center" ng-show="outcomeType === 'continuous'  && showStdDev">
              {{treatment.evidence.stdDev}}
            </td>
            <td class="text-center" ng-show="outcomeType === 'continuous'  && showStdErr">
              {{treatment.evidence.stdErr}}
            </td>
            <td class="text-center" ng-show="showSampleSize">
              {{treatment.evidence.sampleSize}}
            </td>
            <td class="text-center" ng-show="outcomeType === 'survival'  && showExposure">
              {{treatment.evidence.exposure}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
