<div class="row">
  <div class="columns large-12">
    
    <div class="image-selector text-center">
      <div class="row">
        
        <div class="columns large-4">
          <button class="expand info" ng-disabled="type === 'tracePlot'"
          ng-click="type = 'tracePlot'">time series</button>
        </div>
        
        <div class="columns large-4">
          <button class="expand info" ng-disabled="type === 'densityPlot'"
          ng-click="type='densityPlot'"
          style="border-left: 1px solid #bce0ef; border-right: 1px solid #bce0ef;" >density</button>
        </div>
        
        <div class="columns large-4">
          <button class="expand info" ng-disabled="type === 'psrfPlot'"
          ng-click="type='psrfPlot'">PSRF</button>
        </div>
        
      </div>
      
      <div class="row">
        <div class="columns large-12 large-centered text-center">
          <img ng-src="{{structuredPlots[comparisonLabel][type]}}" export dont-float-sibling="true" file-name="type"></img>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="columns large-12 large-centered text-center clearfix">
        <button
        ng-click="previousComparison()"
        ng-disabled = "selectedIndex === 0"
        class="secondary left medium"
        style="width: 10rem;"><i class="fa fa-angle-left"></i> previous</button>
        <span>{{comparisonLabel}}</span>
        <button
        ng-click="nextComparison()"
        ng-disabled = "selectedIndex === gelmanDiagnostics.length - 1"
        class="secondary right medium"
        style="width: 10rem;">next <i class="fa fa-angle-right"></i></button>
      </div>
    </div>
  </div>
</div>
<a class="close-reveal-modal" ng-click="cancel()">×</a>