<div class="row">
  <div class="columns large-12">

    <div class="image-selector text-center">
      <div class="row">

        <div class="columns large-4">
          <button class="expand info" ng-disabled="type === 'tracePlot'"
          ng-click="type = 'tracePlot'">time series</button>
        </div>

        <div class="columns large-4">
          <button class="expand info" ng-disabled="type === 'densityPlot'"
          ng-click="type='densityPlot'"
          style="border-left: 1px solid #bce0ef; border-right: 1px solid #bce0ef;" >density</button>
        </div>

        <div class="columns large-4">
          <button class="expand info" ng-disabled="type === 'psrfPlot'"
          ng-click="type='psrfPlot'">PSRF</button>
        </div>

      </div>

      <div class="row">
        <div class="columns large-12 large-centered text-center">
          <img ng-src="{{diagnosticsMap[comparisonLabel][type].href}}" export dont-float-sibling="true" file-name="type"></img>
        </div>
      </div>
    </div>
    <div class="row hidden-for-large-up text-center">
      <div class="columns large-12">
        {{comparisonLabel}}
      </div>
    </div>
    <div class="row">
      <div class="columns large-4">
        <button class="expand secondary" ng-click="previousComparison()"
        ng-disabled = "selectedIndex === 0">previous</button>
      </div>

      <div class="columns large-4 show-for-large-up text-center">
        {{comparisonLabel}}
      </div>

      <div class="columns large-4">
        <button class="expand secondary" ng-click="nextComparison()"
        ng-disabled = "selectedIndex === sortedLabels.length - 1">next</button>
      </div>

    </div>
  </div>
</div>
<a class="close-reveal-modal" ng-click="cancel()">×</a>
