<div class="row ">
  <div class="large-8 columns">
    <label class="form-item-header">Run-length parameters</label>
    <label>Number of burn-in iterations <inline-help help-key="burn-in-iterations"></inline-help>
      <input type="number" min="1" step="1" ng-model="burnInIterations" ng-model-options='{ debounce: 200 }' id="nr-burn-in-input">
    </label>
    <div class="alert" ng-show='burnInIterations && burnInIterations < 1000'>
      The number of burn-in iterations must be at meast 1000
    </div>
    <label>Number of inference iterations<inline-help help-key="inference-iterations"></inline-help>
      <input type="number" min="1" step="1" ng-model="inferenceIterations" ng-model-options='{ debounce: 200 }' id="nr-inference-input">
    </label>
    <div class="alert" ng-show='inferenceIterations && inferenceIterations < 1000'>
      The number of inference iterations must be at meast 1000
    </div>
    <label>Thinning factor<inline-help help-key="thinning-factor"></inline-help>
      <input type="number" min="1" step="1" ng-model="thinningFactor" pattern="\d*" ng-model-options='{ debounce: 200 }' id="nr-thinning-factor-input">
    </label>
    <div class="alert" ng-show='thinningFactor && inferenceIterations && inferenceIterations >= 1000 && (inferenceIterations/thinningFactor) < 1000'>
      The number of inference iterations devided by the thinning factor must be at meast 1000
    </div>
  </div>
</div>
<!-- end run-length parameters section -->
<div class="row">
  <div class="columns large-8 ">
    <label class="form-item-header" ng-show="model.modelType.subType !== 'all-pairwise' && model.modelType.subType !== 'all-node-split'">Estimated run length<inline-help help-key="estimated-running-time"></inline-help></label>
    <label class="form-item-header" ng-show="model.modelType.subType === 'all-pairwise' || model.modelType.subType === 'all-node-split'">Maximum run length for these models</label> {{estimatedRunLengthHumanized}}
    <div class="alert" ng-show='!isRunlengthDivisibleByThinningFactor(model)'>
      The burn-in and inference iterations must be divisible by the thinning factor. Numbers may not be fractions.
    </div>
    <div class="alert" ng-show='estimatedRunLength > 300'>
      This task will take too long (over 5 minutes). Please reduce the number of iterations or increase the thinning factor.
    </div>
  </div>
</div>
