// Uncomment to use rem-calc() in your settings
@import "foundation/functions";
$rem-base: 16px;

$row-width: rem-calc(1500);
$reveal-default-width:75% !default;

$drugis-color: #F57C00; // https://www.materialpalette.com/orange/light-green