@import"settings";
@import"gemtc-settings";
@import"foundation";
@import"drugis";
@import"mmfoundation-animations";

$addis-grey : $crumb-bg;
$addis-grey-border : $crumb-border-color;
 .alert {
  color: $alert-color;
}
.warning {
  color: $warning-color;
}
.info {
  color: darken($info-color, 10%);
}

.error-message {
  display: block;
  color: $drugis-color;
}

.row.application-link {
  margin: 1rem 0;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

label.form-item-header {
  font-size: 1.2rem;
}

.inline-form-item {
 display: inline; 
}

a.next {
  display: block;
  position: absolute;
  top: 50%;
  left: 494pt;
}

a.previous {
  display: block;
  position: absolute;
  top: 50%;
  left: 10pt;
}

img.paged-png {
  position: relative;
  left:60pt;
}

.indent-one {
  margin-left:2rem;
}

.application-link a{
  text-decoration: underline;
}

// needed to show part below descender line
input[type="number"],
input[type="text"],
select,
select option {
  line-height: 1.1rem;
}

table.layout-table {
  border: none;
  td {
    border: none;
    background-color: #F3F0FA;
  }
}

.main-category-header {
  color: #008CBA;
  font-weight: bold;
}

/////////////////////////// top nav bar
.top-bar-section .has-form {
  height: 44px;
}

.user-image {
  margin-top: -1px;
  margin-right: 4px;
  height: 32px;
  border-radius: 15px;
}

.topbar-text {
  color: white;
  padding: 0;
  margin: 0;
}

.color-stripe {
  background: $drugis-color;
  height: 0.45rem;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  -moz-box-shadow:    0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  margin-botten: 1rem;
}

.top-bar-section ul.top-bar-content {
  padding-top: 5px;
  margin-left: 4rem;
}

body.f-topbar-fixed {
  padding-top: 4rem; // add space top top of first item under nav-bar
}


/////////////////////////// end top nav

////////////////////////// side nav ////////////
.side-nav .button {
  margin-bottom: 0.5rem;
}

.modified-warning {
  font-size: 14px;
  font-style: italic;
  text-align: center;
  margin-bottom: 0.5rem;
}

ul.side-nav {
  margin-top: -20px;
  padding: 2rem 1rem;
  background-color: $addis-grey;
}

ul.side-nav li.heading {
  color: #008CBA;
  font-size: 0.77778rem;
  font-weight: bold;
  text-transform: uppercase;
}

/////////////////////////// study

.study-item {
  margin: 0 0 3rem 0;
}

.study-main-category-header {
  color: #008CBA;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

/////////////////////////// end study

////////////////////////// study category iten ///

.form-input-group {
  padding-bottom: 16px;
}

ul.form-list li {
  font-size: 0.875rem;
  cursor: pointer;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
}

div.row.bottom-button-bar {
  margin-top: 2rem;
}

///////////////////////// end study category item //

//////////////////////// study results ////
.y-head {
  font-weight: bold;
}

//////// Tables /////////////////
table {
  caption {
    text-align: left;
    font-weight: lighter;
  }
  border-collapse: collapse;
  //remove default foundation striping
  tr:nth-of-type(even) {
    background-color: transparent;
  }
  tr {
    height: 1rem;
    th, .y-head {
      text-align: center;
      background-color:#F5F5F5;
    }
    th.sortable {
      cursor: pointer;
    }
    th, td {
      border: solid 1px $addis-grey-border;
      a:hover {
        text-decoration: underline;
      }
    }
    td.input-cell {
      padding: 0;
      select,
      input[type="number"] {
       margin: 0;
       border:0;
       text-align: center;
      }
      select {
        padding-right: 1rem;
      }
      input[type="number"].ng-invalid,
      input[type="number"].ng-invalid-number,
      input[type="number"].invalid-trialverse-number  {
        background-color: lighten($alert-color, 10%);
      }
    }
  }
}
td.empty-cell {
  background-color: $addis-grey-border;
}

tr.on-hover:hover {
  background: darken($secondary-color, 0.5%);
  cursor: pointer;
  text-decoration: none;
}

tr.clickable td {
  color: $primary-color;
}
//////////////////////// end study results //

/////////////////////// begin mapping tables //////////////////

.cell-with-single-btn {
  display: inline;
  select {
    width: 66%;
    margin: 0;
    margin-right: 1rem;
    padding-right: 1rem; // leave room for drop-down icon
  }
  button {
    margin: 0;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
  }
}

/////////////////////// end mapping tables


.scrollable-wrapper {
  overflow-y: auto;
  margin-top: 1.5rem; // leave some space for the scrollbar
}
