<form id="add-model-form" novalidate ng-submit="addModel(model)">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell large-9">
        <h3>Add a new Model</h3>
      </div>
    </div>
    <div class="grid-x">
      <div class="cell large-9">
        <label>Title
          <input id="title-input" autofocus="true" type="text" ng-model="model.title">
        </label>
      </div>
    </div>
    <div class="grid-x modal-bottom-button-bar">
      <div class="cell large-9">
        <button id="submit-add-model-btn" class="success" type="submit" ng-disabled="isAddButtonDisabled(model)">
          Add
        </button>
      </div>
    </div>
    <button ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</form>