<form id="create-node-split-model-form" novalidate ng-submit="createNodeSplitModel(model)">
  <div class="row">
    <div class="large-12 columns">
      <h3>Create node split model</h3>
    </div>
  </div>
  <div class="row section">
    <div class="large-12 columns">
      <label class="form-item-header">Title
        <small>required</small>
        <input id="title-input" autofocus="true" type="text" ng-model="model.title">
      </label>
    </div>
  </div>
  <run-length 
  model="model" 
  problem="problem"
  burn-in-iterations="model.burnInIterations"
  inference-iterations="model.inferenceIterations"
  thinning-factor="model.thinningFactor"
   is-valid-run-length="isValidRunLength"></run-length>
  <div class="row modal-bottom-button-bar">
    <div class="large-12 columns">
      <button id="submit-extend-run-length-btn" class="success" type="submit" ng-disabled="!isValidRunLength || isCreatingModel || !model.title">Create model</button>
       <div class="alert" ng-show='!model.title'>Model title missing.</div>
    </div>

  </div>
  <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</form>