<div class="row">
  <div class="columns large-12">
    <h3 class="left">Models</h3>
  </div>
</div>
<div class="row">
  <div class="columns large-12">
    <div ng-show="!modelsLoaded">
      <i class="fa fa-spinner fa-spin fa-3x"></i>
      <p>Loading models...</p>
    </div>
    <div class="clearfix" ng-show="modelsLoaded">
      <div class="row align-bottom">
        <div class="columns large-6 medium-12" ng-show="models.length">
          <h5 class="subheader">Primary model
            <inline-help help-key="primary-model"></inline-help>
          </h5>
          <div ng-hide="!models.length" class="row collapse">
            <div class="small-9 columns">
              <select ng-hide="loginUserId !== userId" ng-model="$parent.primaryModel" ng-options="model.title for model in models | orderBy:title | filter:{archived: false}"></select>
            </div>
            <div class="small-3 columns">
              <button ng-hide="loginUserId !== userId" ng-disabled="!primaryModel" ng-click="$parent.primaryModel = null" class="alert postfix no-padding-left-right"
                ng-show="!model.isPrimary">Unset</button>
            </div>
          </div>
        </div>
        <div class="columns large-6 medium-12">
          <!-- NB ng-hide code only for ADDIS purposes (can't see others' models in gemtc standalone)-->
          <button id="add-model-btn" ng-hide="loginUserId !== userId || !modelsLoaded" tabindex="0"
            class="button small right" ng-click="gotoCreateModel()" ng-disabled="isModelCreationBlocked"><i class="fa fa-plus"></i> Add model
          </button>
          <button tabindex="1" ng-disabled="numberOfModelsArchived === 0" ng-hide="showArchived || !modelsLoaded"
            class="button secondary small right" ng-click="showArchived = !showArchived"><i class="fa fa-eye"></i> Show archived ({{numberOfModelsArchived}})
          </button>
          <button tabindex="1" ng-show="showArchived  && modelsLoaded" class="button secondary small right"
            ng-click="showArchived = !showArchived"><i class="fa fa-eye-slash"></i> Hide archived
          </button>
        </div>
      </div>
      <div class="row">
        <div class="columns large-12">
          <em ng-show="models.length === 0">No models have been created</em>
          <em ng-show="models.length > 0 && !showArchived && models.length === numberOfModelsArchived">All models have been archived</em>
          <table ng-show="models.length > 0 && (showArchived || models.length !== numberOfModelsArchived)"
            style="width:100%;">
            <thead>
              <tr>
                <td class="text-center large-6 medium-6">Title</td>
                <td class="text-center large-2 medium-2">Type</td>
                <td class="text-center large-2 medium-2">Model computed
                  <inline-help help-key="model-computed"></inline-help>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="model in models | orderBy:title | filter:archivedFilter">
                <td>
                  <a ng-click="gotoModel(model)">{{model.title}} <span ng-show=model.archived>(archived {{model.archivedOn | date}})</span></a>
                  <span ng-show="hasPimaryLabel(model)"> (primary model)</span>
                  <span ng-hide="loginUserId !== userId">
                    <button ng-if="!model.archived &&  !hasPimaryLabel(model)" ng-click="archiveModel(model)"
                      type="button" class="tiny right info radius" style="margin-bottom:0;">archive</button>
                  </span>
                  <span ng-hide="loginUserId !== userId">
                    <button ng-if="model.archived" ng-click="unArchiveModel(model)" type="button" class="tiny right alert radius"
                      style="margin-bottom:0;">unarchive</button>
                  </span>
                </td>
                <td class="text-center">{{model.modelType.type}}
                  <span ng-if="model.sensitivity.omittedStudy">(leave one out)</span>
                </td>
                <td class="text-center">
                  <i class="fa fa-check" style="color:green;" ng-if="model.runStatus === 'done'"></i>
                  <i class="fa fa-times" style="color:red;" ng-if="model.runStatus === 'failed'"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
