<div class="row">
  <div class="columns large-12">
    <h3>Models</h3>
    <div ng-show="!modelsLoaded" class="row">
      <div class="columns center large-12">
        <i class="fa fa-spinner fa-spin fa-3x"></i>
        <p>Loading models...</p>
      </div>
    </div>
  </div>
</div>
<div class="row" ng-show="modelsLoaded">
  <div class="columns large-8">
    <button id="add-model-btn" ng-show="loginUser.userNameHash === userUid" tabindex="0" class="button small" ng-click="gotoCreateModel()" ng-disabled="isModelCreationBlocked"><i class="fa fa-plus"></i> Add new model</button>
    <h5>Primary model</h5>
    <div class="panel ">
      <em ng-show="!primaryModel">No primary model has been set</em>
      <div class="row" ng-show="!primaryModel">
        <div class="columns large-4">
          <label>Title</label>
          <label>Type</label>
          <label>computed</label> 
        </div>
        <div class="columns large-4 end">
          <div>mock name</div>
          <div>mock type</div>
          <div>mock completed</div>
        </div>
      </div>
      <button class="tiny alert" ng-show="!model.isPrimary">unset as primary</button>
    </div>
  </div>
</div>
<div class="row" ng-show="modelsLoaded">
  <div class="columns large-12">
    <h5>Other models</h5>
    <em ng-show="models.length === 0">No other models have been created</em>
    <table ng-show="models.length > 0">
      <thead>
        <tr>
          <td class="large-3 text-center">Title</td>
          <td class="large-1 text-center">Type</td>
          <td class="large-1 text-center">Model computed <inline-help help-key="model-computed"></inline-help></td>
        </tr>
      </thead>
      <tbody>
        <!-- class="on-hover clickable"  -->
        <tr ng-repeat="model in models | orderBy:'title'">
          <td class="button-cell">
            <a ng-click="gotoModel(model)">{{model.title}}</a> 
            <button 
              class="tiny right" 
              ng-show="!model.isPrimary"
              ng-click="setAsPrimary(model)">set as primary</button>
          </td>
          <td class="text-center">{{model.modelType.type}}</td>
          <td class="text-center"><i class="fa fa-check" style="color:green;" ng-if="model.hasResult"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
