<div class="grid-container" ui-view>
  <div class="grid-x">
    <div class="cell" id="model-split-overview-header">
      <h1 id="nodesplit-overview-header">
        Nodesplitting overview
      </h1>
    </div>
  </div>
  <div class="grid-x">
    <div class="cell large-8 medium-6 small-12">
      <h5>
        <strong>Analysis</strong>
      </h5>
      <h5>
        <a id="analysis-title-header" ui-sref="networkMetaAnalysis(stateParams)">
          {{analysis.title}}
        </a>
      </h5>
      <h5>
        <strong>Outcome</strong>
        <inline-help help-key="outcome"></inline-help>
      </h5>
      <h5 id="outcome-header">
        {{analysis.outcome.name}}
        <span ng-show="result.logScale"> (log scale)</span>
      </h5>
      <h5 ng-if="model !== networkModel">
        <strong>Base Model</strong>
      </h5>
      <h5 ng-if="model !== networkModel"><a ui-sref="model(stateParams)">{{model.title}}</a></h5>
      <div class="alert" ng-if="baseModelNotShown">
        The base model is not included in the comparison because another model with identical settings was selected
        instead. Please archive that model if you wish to use the base model for comparison.
      </div>
    </div>
  </div>

  <div class="grid-x">
    <div class="cell large-5 medium-6 small-12">
      <div class="panel callout">
        <h5>
          <strong>Model settings</strong>
        </h5>
        <table class="layout-table">
          <tr>
            <td class="large-6 text-right">
              <strong>effects type</strong>
            </td>
            <td id="effects-type">
              {{result.linearModel}}
            </td>
          </tr>
          <tr>
            <td class="large-6 text-right">
              <strong>outcome scale</strong>
            </td>
            <td id="outcome-scale" ng-if="model.outcomeScale">
              {{model.outcomeScale}}
            </td>
            <td id="imputed-outcome-scale" ng-if="!model.outcomeScale">
              {{result.outcomeScale}} (imputed)
            </td>
          </tr>
          <tr>
            <td class="large-6 text-right">
              <strong>likelihood / link</strong>
            </td>
            <td id="likelihood-link">
              {{result.likelihood}} / {{result.link}}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="grid-x">
    <div class="cell large-7  medium-8 small-12">
      <h5 ng-if="!networkModel">
        <button id="create-consistency-model-button" class="button success" ng-click="openCreateNetworkDialog()">Create consistency model</button>
      </h5>
      <div ng-if="networkModel " class="panel callout">
        <h5>
          <strong>Consistency Model</strong>
        </h5>
        <table class="layout-table">
          <tr>
            <td class="large-6 text-right">
              <strong>Title</strong>
            </td>
            <td>
              <a id="consistency-model-title" ui-sref="model(networkStateParams)" ui-sref-opts="{reload:true}">
                {{networkModel.title}}
              </a>
            </td>
          </tr>
          <tr ng-show="networkModel.result && model.linearModel === 'random'">
            <td class="large-6 text-right">
              <strong>Random effects standard deviation</strong>
            </td>
            <td id="random-effects-standard-deviation">
              {{networkModel.result.summaries.quantiles["sd.d"]["50%"] | number: 3}}
              ({{networkModel.result.summaries.quantiles["sd.d"]["2.5%"] | number: 3}},
              {{networkModel.result.summaries.quantiles["sd.d"]["97.5%"] | number: 3}})
            </td>
          </tr>
          <tr ng-show="networkModel.result">
            <td class="large-6 text-right">
              <strong>DIC</strong>
            </td>
            <td id="deviance-information-criterion">
              {{networkModel.result.DIC}}
              <inline-help help-key="deviance-information-criterion"></inline-help>
            </td>
          </tr>
          <tr ng-show="!networkModel.result">
            <td colspan="2">
              <button id="run-network-model-button" class="button small success" ng-click="goToModel(networkModel.id)">
                Run network model
              </button>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="grid-x">
    <div class="cell">
      <table>
        <caption>Consistency/inconsistency comparisons</caption>
        <thead>
          <tr>
            <td class="large-2 text-center">Comparison</td>
            <td class="large-2 text-center">Model name</td>
            <td class="large-1 text-center">DIC
              <inline-help help-key="deviance-information-criterion"></inline-help>
            </td>
            <td ng-if="model.linearModel === 'random'" class="large-1 text-center">Random effects standard deviation
            </td>
            <td class="large-1 text-center">Effect estimates</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="comparison in comparisons">

            <td class="text-center">{{comparison.label}}</td>

            <td class="button-cell" class="text-center">
              <button id="create-node-split-model-button-{{$index}}" class="button tiny success"
                ng-click="openCreateNodeSplitDialog(comparison)"
                ng-hide="comparison.hasModel || editMode.disableEditing">
                create model
              </button>
              <a id="model-title-{{$index}}" ng-show="comparison.hasModel" ng-click="goToModel(comparison.modelId)">
                {{comparison.modelTitle}}
              </a>
            </td>

            <td class="text-center button-cell" colspan="{{comparison.colSpan}}">
              <span id="dic-{{$index}}" ng-if="comparison.result">
                {{comparison.result.DIC}}
              </span>
              <button id="run-model-button-{{$index}}" ng-if="comparison.hasModel && !comparison.result"
                ng-click="goToModel(comparison.modelId)" class="button tiny success">
                run model
              </button>
            </td>

            <td ng-if="model.linearModel === 'random' && comparison.hasModel && comparison.hasResults"
              class="text-center">
              <span id="random-effects-standard-deviation-{{$index}}" ng-if="comparison.hasResults">
                {{comparison.result.summaries.quantiles["sd.d"]["50%"] | number: 3}}
                <br> ({{comparison.result.summaries.quantiles["sd.d"]["2.5%"] | number:
                3}}, {{comparison.result.summaries.quantiles["sd.d"]["97.5%"] | number:
                3}})
              </span>
            </td>

            <td class="text-center" ng-if="comparison.hasResults">
              <span ng-if="!networkModel">
                No consistency model found.
              </span>
              <span ng-if="networkModel && !networkModel.result">
                Consistency model not yet run.
              </span>
              <nodesplit-forest-plot
                estimates="[comparison.directEffectEstimate, comparison.inDirectEffectEstimate, comparison.consistencyEstimate]">
              </nodesplit-forest-plot>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
