<form novalidate ng-submit="setBaselineDistribution(baselineDistribution)">
  <div class="row">
    <div class="large-12 columns end">
      <h3 class="ng-scope">{{outcomeWithAnalysis.outcome.name || outcomeWithAnalysis.name}} baseline distribution</h3>
    </div>
  </div>
  <div class="row">
    <div class="large-8 columns end">
      <label>Alternative
        <select ng-model="baselineDistribution.selectedAlternative" ng-options="filteredAlternative.name for filteredAlternative in filteredAlternatives"
          ng-change="alternativeSelectionChanged()"></select>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns end">
      <label>{{distributionName}} distribution ({{baselineDistribution.scale}})</label>
      <span ng-if="isMissingSampleSize"><i class="fa fa-exclamation-triangle"></i> Sample size unknown, therefore estimate using Normal distribution</span>
    </div>
  </div>
  <div class="row" ng-if="!isModelBaseline || isMissingSampleSize">
    <div class="large-4 medium-6 columns">
      <label>mean
        <input type="number" ng-model="baselineDistribution.mu">
      </label>
    </div>
    <div class="large-4 medium-6 columns end">
      <label>standard deviation</label>
      <input type="number" step="0.001" ng-model="baselineDistribution.sigma">
    </div>
  </div>
  <div class="row" ng-if="isModelBaseline && baselineDistribution.scale === 'log odds'">
    <div class="large-4 medium-6 columns">
      <label>alpha
        <input type="number" ng-model="baselineDistribution.alpha">
      </label>
    </div>
    <div class="large-4 medium-6 columns end">
      <label>beta</label>
      <input type="number" step="0.001" ng-model="baselineDistribution.beta">
    </div>
  </div>
  <div class="row" ng-if="isModelBaseline && !isMissingSampleSize && baselineDistribution.scale === 'mean'">
    <div class="large-4 medium-6 columns">
      <label>mean
        <input type="number" ng-model="baselineDistribution.mu">
      </label>
    </div>
    <div class="large-4 medium-6 columns end">
      <label>standard error</label>
      <input type="number" step="0.001" ng-model="baselineDistribution.stdErr">
    </div>
  </div>
  <div ng-if="isModelBaseline" class="row" ng-if="true">
    <div class="columns large-12">
      <caption>Evidence for baseline alternative</caption>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Study</th>
            <th>Treatment</th>
            <th>Performance</th>
          </tr>
        </thead>
        <tbody>
          <tr style="cursor:pointer" ng-click="selections.armIdx = arm.idx; armSelectionChanged()" ng-repeat="arm in arms[baselineDistribution.selectedAlternative.id]">
            <td>
              <input type="radio" style="margin-bottom:0; vertical-align: middle;" ng-model="selections.armIdx" ng-value="arm.idx" ng-change="armSelectionChanged()"></input>
            </td>
            <td> {{arm.studyName}} </td>
            <td> {{arm.alternativeName}} </td>
            <td> {{arm.performance}} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="columns large-12">
      <button ng-disabled="isInValidBaseline(baselineDistribution)" class="button small success"
        type="submit">Set
      </button>
    </div>
  </div>
  <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</form>
