<div class="row" ng-if="result.results"  style="padding-top: 1rem;">
    <div class="columns large-3">
      <h3 class="main-category-header">Convergence diagnostics</h3>
    </div>
    <div class="columns large-8 end">
      <hr>
    </div> 
  </div> <!-- end Convergence diagnostics header -->

  <div class="row" ng-if="result.results" >
    <div class="columns large-12 medium-6 small-12">
        <table export>
          <caption>Per-parameter convergence diagnostics</caption>
          <thead>
            <tr>
              <td colspan="3"></td>
              <td colspan="2">Potential scale reduction factor (PSRF) <data-inline-help help-key="potential-scale-reduction-factor"></data-inline-help></td>
              <td></td>
            </tr>
            <tr>
              <td>Parameter</td>
              <td>Standard deviation</td>
              <td>Time-series S.E. <data-inline-help help-key="time-series-standard-error"></td>
              <td>Point estimate</td>
              <td>97.5% quantile</td>
              <td class="large-2"></td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="diagnostic in diagnostics | orderBy: 'label'">
              <td>{{diagnostic.label}}</td>
              <td>{{result.results.summaries.statistics[diagnostic.key].SD}}</td>
              <td>{{result.results.summaries.statistics[diagnostic.key]['Time-series SE']}}</td>
              <td>{{diagnostic['Point est.']}}</td>
              <td>{{diagnostic['Upper C.I.']}}</td>
              <td class="button-cell"><graph-modal diagnostics-map="diagnosticMap" selected-comparison="diagnostic" />
              </tr>
            </tbody>
          </table>
      </div>
    </div> <!-- end Convergence diagnostics content -->

    <div class="row" ng-if="result.results" >
      <div class="columns large-8 medium-6 small-12">
        <!-- gemtc stand-alone does not set editMode-->
        <button id="open-run-length-dialog-btn" ng-hide="editMode.disableEditing" ng-click="openRunLengthDialog()" class="small">Extend run-length</button>
      </div>
    </div> <!-- end Extend runlength-btn row -->