<div class="row" ng-if="result.results && model.modelType.type === 'regression'" style="padding-top: 1rem;">
  <div class="columns large-2 medium-4">
    <h3 id="model-results-meta-regression-header" class="main-category-header">Meta regression</h3>
  </div>
  <div class="columns large-7 medium-6 end">
    <hr>
  </div>
</div>

<meta-regression-cov-plots model-promise="model.$promise" results-promise="resultsPromise" problem-promise="problemPromise"></meta-regression-cov-plots>

<div class="row" ng-show="result.results && model.modelType.type === 'regression'" >
  <div class="columns large-4 end">
    <table>
      <thead>
        <tr>
          <th>
            Coefficient
          </th>
          <th>
            Median (95% CrI)
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in covariateQuantiles">
          <td>
            {{item.label}}
          </td>
          <td>
            {{item.value['50%'] | number:3}} ({{item.value['2.5%'] | number:3}} - {{item.value['97.5%'] | number:3}})
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
