<div class="row">
  <div class="columns large-12">
    <h1>{{analysis.title}}</h1>
    <h5><strong>Outcome</strong></h5>
    <h5>{{analysis.outcome.name}}<span ng-show="result.results.logScale"> (log scale)</span></h5>
    <h5><strong>Model</strong></h5>
    <h5>{{model.title}}</h5>
  </div>
</div>
<div class="row">
  <div class="columns large-12">
    <div>
      <span ng-if="!result.results">
        <h4 class="inline-header">Loading model / {{progress.percentage | number:2}} % complete</h4>
      </span>
      <div ng-if="result.results" style="padding-top: 1rem;">
        <div class="row">
          <div class="columns large-4">
            <div class="panel callout">
              <h5><strong>Model settings</strong></h5>
              <table class="layout-table">
                <tr>
                  <td class="large-6 text-right"><strong>Analysis type</strong></td>
                  <td>{{model.modelType.type}}</td>
                </tr>
                <tr ng-show="model.modelType.type === 'pairwise'">
                  <td class="large-6 text-right"><strong>Pairwise comparison</strong></td>
                  <td>{{model.modelType.details.from}} &mdash; {{model.modelType.details.to}}</td>
                </tr>
                <tr>
                  <td class="large-6 text-right"><strong>Effects type</strong></td>
                  <td>{{result.results.linearModel}}</td>
                </tr>
                <tr>
                  <td class="large-6 text-right"><strong>Model type</strong></td>
                  <td>{{result.results.type}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="row" style="padding-top: 1rem;">
          <div class="columns large-1">
            <h3 class="main-category-header">Results</h3>
          </div>
          <div class="columns large-8 end">
            <hr>
          </div>
        </div>
        <div class="row" ng-show="model.linearModel === 'random'" style="padding-top: 1rem;">
          <div class="columns large-12">
            <p><strong>Random effects standard deviation </strong> {{result.results.summaries.quantiles["sd.d"]["50%"] | number: 3}} ({{result.results.summaries.quantiles["sd.d"]["2.5%"] | number: 3}}, {{result.results.summaries.quantiles["sd.d"]["97.5%"] | number: 3}})</p>
          </div>
        </div>
        <div class="row" style="padding-top: 1rem;">
          <div class="columns large-12">
            <div class="table-title" ng-switch on="result.results.logScale">Relative effects table comparing the included interventions:
              <span ng-switch-when="true">odds ratio</span>
              <span ng-switch-default>mean difference</span> (95% CrI).
              <br>Each cell gives the effect of the column-defining intervention relative to the row-defining intervention.
            </div>
            <table>
              <tr ng-repeat="relativeEffectsRow in relativeEffectsTable.rows">
                <td class="text-center" ng-class="{'empty-cell': $index <= $parent.$index-1}" ng-repeat="relativeEffectsCell in relativeEffectsRow.cells" ng-switch="relativeEffectsCell.cellType">
                  <span ng-switch-when="effect">
                    {{relativeEffectsCell.mean | number: 3}} ({{relativeEffectsCell.lowerBound | number: 3}}, {{relativeEffectsCell.upperBound | number: 3}})
                  </span>
                  <span ng-switch-when="label" class="table-cell-label">
                    {{relativeEffectsCell.label}}
                  </span>
                  <span ng-switch-when="empty"></span>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="columns">
            <div class="row">
              <div class="columns large-6 small-8">
                <p><strong>Convergence diagnostics</strong></p>
                <table>
                  <thead>
                    <tr>
                      <td>Treatment name</td>
                      <td>ID</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="treatment in problem.treatments">
                      <td>{{treatment.name}}</td>
                      <td>{{treatment.id}}</td>
                    </tr>
                  </tbody>
                </table>
                <table>
                  <thead>
                    <tr>
                      <td></td>
                      <td colspan="2">Potential scale reduction factor (PSRF)</td>
                    </tr>
                    <tr>
                      <td>Parameter</td>
                      <td>Point estimate</td>
                      <td>97.5% quantile</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="(diagnosticLabel, diagnostic) in gelmanDiagnostics">
                      <td>{{diagnosticLabel}}</td>
                      <td>{{diagnostic['Point est.']}}</td>
                      <td>{{diagnostic['Upper C.I.']}}</td>
                    </tr>
                  </tbody>
                </table>
                <paged-png-plot pages="result.results.tracePlot"></paged-png-plot>
              </div>
            </div>
          </div>
        </div>
        <div class="row" ng-if="model.modelType.type === 'network'">
          <div class="columns">
            <div class="row">
              <div class="columns large-6 small-8">
                <p><strong>Relative effects plots</strong></p>
                <label>Select baseline:
                  <select ng-options="treatment.id as treatment.name for treatment in problem.treatments" ng-model="selectedBaseline"></select>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="columns center">
              <paged-svg-plot pages="result.results.relativeEffectPlots[selectedBaseline]"></paged-svg-plot>
              </div>
            </div>
          </div>
        </div>
        <div class="row" ng-if="model.modelType.type === 'pairwise'">
          <div class="columns">
            <div class="row">
              <div class="columns large-6 small-8">
                <p><strong>Study effect forest plot</strong></p>
                <paged-svg-plot pages="result.results.studyForestPlot"></paged-svg-plot>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="padding-top: 1rem;">
          <div class="columns large-4">
            <div>
              <p><strong>Rank probabilities</strong></p>
            </div>
            <div class="addis-graph" style="height:400px;">
              <gemtc-rank-plot value="result.results.rankProbabilities" stacked="true">
            </div>
          </div>
          <div class="graph-legend columns large-4 end panel callout">
            <p>The rank probability plot shows how likely it is that each intervention has a particular rank, with rank 1 being the highest outcome value.</p>
            <p>Ranks can be shown as grouped or stacked.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
