<div class="grid-x">
  <div class="cell large-9 medium-11 small-12">
    <h4 ng-if="!result" class="inline-header">Loading model / {{progress.percentage | number:2}} % complete</h4>
    <progressbar ng-hide="result" value="progress.percentage"></progressbar>
    <div id="model-settings-section" ng-if="result" style="padding-top: 1rem;">
      <a ui-sref="nodeSplitOverview(stateParams)"
        ng-if="(model.modelType.type === 'network' || model.modelType.type === 'node-split') && nodeSplitOptions.length > 0 "
        class="grid-x">Go to node-split overview</a>
      <div class="panel callout primary">
        <h5>
          <strong>Model settings</strong>
        </h5>
        <table class="layout-table">
          <tr>
            <td class="large-6 text-right">
              <strong>model type</strong>
            </td>
            <td id="model-type">
              {{::model.modelType.type}}
              <inline-help help-key="model-type"></inline-help>
            </td>
          </tr>
          <tr ng-if="model.sensitivity.omittedStudy">
            <td class="large-6 text-right">
              <strong>sub type</strong>
            </td>
            <td id="model-sub-type">
              leave one out
            </td>
          </tr>
          <tr ng-if="model.sensitivity.omittedStudy">
            <td class="large-6 text-right">
              <strong>omitted study</strong>
            </td>
            <td id="model-omitted-study">
              {{::model.sensitivity.omittedStudy}}
            </td>
          </tr>
          <tr ng-if="model.modelType.type === 'pairwise'">
            <td class="large-6 text-right">
              <strong>pairwise comparison</strong>
            </td>
            <td id="model-pairwise-comparison">
              {{pairwiseTreatments.from.name}} &mdash; {{pairwiseTreatments.to.name}}
            </td>
          </tr>
          <tr ng-if="model.modelType.type === 'node-split'">
            <td class="large-6 text-right">
              <strong>split comparison</strong>
            </td>
            <td id="model-node-split">
              {{pairwiseTreatments.from.name}} &mdash; {{pairwiseTreatments.to.name}}
            </td>
          </tr>
          <tr ng-if="model.modelType.type === 'regression'">
            <td class="large-5 text-right">
              <strong>treatment-interaction model</strong>
            </td>
            <td id="model-regressor-coefficient">
              {{::model.regressor.coefficient}} coefficient(s)
              <inline-help help-key="treatment-interaction-model"></inline-help>
            </td>
          </tr>
          <tr ng-if="model.modelType.type === 'regression'">
            <td class="large-5 text-right">
              <strong>covariate</strong>
            </td>
            <td id="model-regressor-variable">
              {{::model.regressor.variable}}
              <inline-help help-key="covariate"></inline-help>
            </td>
          </tr>
          <tr ng-if="model.modelType.type === 'regression' && result.regressor.modelRegressor.mu">
            <td class="large-5 text-right">
              <strong>standardization</strong>
            </td>
            <td id="model-regressor-standardization">
              x' = (x -
              {{::result.regressor.modelRegressor.mu|number:3}})/{{::result.regressor.modelRegressor.sd|number:3}}
              <inline-help help-key="covariate-standardization"></inline-help>
            </td>
          </tr>
          <tr ng-if="model.modelType.type === 'regression'">
            <td class="large-5 text-right">
              <strong>control treatment</strong>
            </td>
            <td id="model-control-treatment">
              {{::controlTreatment.name}}
              <inline-help help-key="regression-control"></inline-help>
            </td>
          </tr>
          <tr>
            <td class="large-6 text-right">
              <strong>effects type</strong>
            </td>
            <td id="model-effects-type">
              {{::result.linearModel}}
              <inline-help help-key="effects-type"></inline-help>
            </td>
          </tr>
          <tr>
            <td class="large-6 text-right">
              <strong>outcome scale</strong>
            </td>
            <td id="model-outcome-scale" ng-if="model.outcomeScale">
              {{::model.outcomeScale}}
              <inline-help help-key="outcome-scale"></inline-help>
            </td>
            <td id="model-outcome-scale-imputed" ng-if="!model.outcomeScale">
              {{::result.outcomeScale}} (imputed)
              <inline-help help-key="outcome-scale"></inline-help>
            </td>
          </tr>
          <tr>
            <td class="large-6 text-right">
              <strong>likelihood / link</strong>
            </td>
            <td id="model-likelihood">
              {{::result.likelihood}} / {{::result.link}}
              <inline-help help-key="likelihood-link"></inline-help>
            </td>
          </tr>
          <tr ng-if="model.linearModel === 'random'">
            <td class="large-6 text-right">
              <strong>heterogeneity prior</strong>
            </td>
            <td>
              <heterogeneity-prior prior="result.heterogeneityPrior"></heterogeneity-prior>
              <inline-help help-key="heterogeneity-prior-distribution"></inline-help>
            </td>
          </tr>
          <tr ng-if="model.sensitivity.adjustmentFactor">
            <td class="large-6 text-right" style="vertical-align:top;">
              <strong>design adjustment</strong>
            </td>
            <td>
              <ul class="no-bullet"
                style="font-size: 0.875rem; vertical-align:top; line-height: initial;  margin-bottom: 0;">
                <li style="padding-bottom: 0.5rem">adjustment for: {{model.sensitivity.adjustmentFactor}} =
                  {{model.sensitivity.inflationValue}}</li>
                <li>weighting factor : {{model.sensitivity.weightingFactor}}</li>
              </ul>
              <inline-help help-key="design-adjustment"></inline-help>
            </td>
          </tr>
          <tr>
            <td class="large-6 text-right" style="vertical-align:top;">
              <strong>run-length</strong>
            </td>
            <td>
              <ul class="no-bullet" style="font-size: 0.875rem; vertical-align:top; line-height: initial;">
                <li style="padding-bottom: 0.5rem">
                  burn-in: {{::result.burnInIterations}}
                  <inline-help help-key="burn-in-iterations"></inline-help>
                </li>
                <li style="padding-bottom: 0.5rem">
                  inference: {{::result.inferenceIterations}}
                  <inline-help help-key="inference-iterations"></inline-help>
                </li>
                <li style="padding-bottom: 0.5rem">
                  thinning: {{::result.thinningFactor}}
                  <inline-help help-key="thinning-factor"></inline-help>
                </li>
              </ul>
            </td>
          </tr>
        </table>
        <div class="button-group">
          <button class="button" ng-if="!editMode.disableEditing" ng-click="goToRefineModel()">Refine model</button>
          <button class="button" ng-click="goToModelData()">Get model data</button>
          <button class="button" ng-disabled="!taskInfo._links.script" ng-click="goToRScript()">Get R
            script{{!taskInfo._links.script ? '*' : ''}}</button>
        </div>
        <div ng-if="!taskInfo._links.script">
          <em>*Script not available for models from before 29-03-2017</em>
        </div>
      </div>
      <!-- end callout panel -->
    </div>
    <!-- end setting show in result section -->
  </div>
  <!-- end settings cell -->
</div>